---
layout: default
category: blog
menu: blog single
submenu: 
pluginscss: [
    "plugins/magnific/css/magnific.css",
    "plugins/owl/css/owl-carousel.css"
]
pluginsjs: [
    "plugins/magnific/js/jquery.magnific-popup.js",
    "plugins/owl/js/owl.carousel.js",
    "plugins/shuffle/js/jquery.shuffle.js"
]
pagejs: [
    "javascript/frontend/pages/blog.js"
]
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">Blog Single</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Blog</a></li>
                                <li class="active">Blog Single</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Blog Content -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Row -->
                    <div class="row">
                        <!-- START Left Section -->
                        <div class="col-md-9">
                            <!-- Blog post #1 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <!-- heading -->
                                <h3 class="section-title font-alt ellipsis mt0">Pellentesque tincidunt tempus risus. Donec egestas. Duis ac</h3>
                                <!--/ heading -->

                                <!-- meta -->
                                <p class="meta">
                                    <a href="javascript:void(0);">6 comment</a><!-- comments -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">In </span><a href="javascript:void(0);">Nature</a><!-- category -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">By </span><a href="javascript:void(0);">Colt Jenkins</a><!-- author -->
                                </p>
                                <!--/ meta -->

                                <!-- Owl Carousel -->
                                <header id="gallery-post" class="owl-carousel mb15">
                                    <div class="image"><img src="{{ site.assets }}image/background/blog/blog4.jpg"></div>
                                    <div class="image"><img src="{{ site.assets }}image/background/blog/blog3.jpg"></div>
                                    <div class="image"><img src="{{ site.assets }}image/background/blog/blog5.jpg"></div>
                                </header>
                                <!--/ Owl Carousel -->

                                <!-- text -->
                                <p>Lorem ipsum dolor sit amet, ex tritani mandamus mea. Numquam saperet labores in quo, et nam animal fuisset. Id eum mutat impedit, ei sumo dicat accusata eam. Quo no debet omnes probatus. Sit alienum deleniti insolens cu, ut sed utinam ubique iracundia. Cum sanctus corpora ponderum ea, te mei alii cetero, ea tollit docendi reprimique pri. Essent torquatos an eam.</p>
                                <p>Ex duo vidit solum, equidem copiosae te pro. Elitr iisque pro ut, ut pro phaedrum theophrastus. At mea novum detraxit, ea nam tation tractatos. In eos errem minimum moderatius. Fugit soleat efficiendi ut mei, paulo abhorreant ex mea. Rebum volutpat mea ne.</p>
                                <p>Duo eius illud laboramus ea, deleniti intellegam pro ex. Impedit signiferumque mei id, vim fugit suscipit intellegat ut. Quod epicuri qui cu, est ex omittam intellegam. Mei augue sententiae definitionem ad.</p>
                                <p>Constituto mnesarchum mea at, quaestio efficiantur ad ius, eum scripserit mediocritatem ad. An pri essent impedit. Vis everti splendide an, munere dolorem ei pro, est in perpetua explicari percipitur. Vis te vitae accumsan repudiare, per habeo atomorum ad, et facer liberavisse sit.</p>
                                <p>Ex etiam laoreet explicari sea, propriae intellegam te pro, sit no vide eius. Per possim suscipiantur an. Eam lorem mediocrem consectetuer eu, utinam dictas salutatus et eos, nec nulla vivendo et. Fugit placerat pro id, pri facilis periculis evertitur ne.</p>
                                <!--/ text -->

                                <hr style="margin:60px 0;"><!-- horizontal line -->

                                <!-- Comments -->
                                <section class="mb15">
                                    <h4 class="section-title font-alt mt0">Comments (6)</h4>
                                    <div class="media-list media-list-bubble">
                                        <div class="media">
                                            <a href="javascript:void(0);" class="media-object pull-left">
                                                <img src="{{ site.assets }}image/avatar/avatar1.jpg" class="img-circle" alt="">
                                            </a>
                                            <div class="media-body">
                                                <div class="media-text">
                                                    <h5 class="semibold mt0 mb5 text-default">Erica Jacobson</h5>
                                                    <p class="mb5">Lorem ipsum dolor sit amet, eu vide nusquam sed, sit et vitae vocent. At est possit numquam percipit. Vidisse aliquip comprehensam pro cu, vim ex dolore docendi.</p>
                                                    <!-- meta icon -->
                                                    <p class="mb0">
                                                        <span class="media-meta">Aug 26, 2013</span>
                                                        <span class="mr5 ml5 text-muted">&#8226;</span>
                                                        <a href="javascript:void(0);" class="media-meta text-default" data-toggle="tooltip" title="Reply"><i class="ico-reply"></i></a>
                                                    </p>
                                                    <!--/ meta icon -->
                                                </div>

                                                <!-- nested #1 -->
                                                <div class="media">
                                                    <a href="javascript:void(0);" class="media-object pull-left">
                                                        <img src="{{ site.assets }}image/avatar/avatar4.jpg" class="img-circle" alt="">
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="media-text">
                                                            <h5 class="semibold mt0 mb5 text-accent">Colt Jenkins</h5>
                                                            <p class="mb5">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin vel arcu eu odio tristique pharetra. Quisque ac libero nec ligula consectetuer rhoncus.</p>
                                                            <!-- meta icon -->
                                                            <p class="mt5 mb0">
                                                                <span class="media-meta">Mar 23, 2014</span>
                                                                <span class="mr5 ml5 text-muted">&#8226;</span>
                                                                <a href="javascript:void(0);" class="media-meta text-default" data-toggle="tooltip" title="Reply"><i class="ico-reply"></i></a>
                                                            </p>
                                                            <!--/ meta icon -->
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- nested #1 -->

                                                <!-- nested #2 -->
                                                <div class="media">
                                                    <a href="javascript:void(0);" class="media-object pull-left">
                                                        <img src="{{ site.assets }}image/avatar/avatar9.jpg" class="img-circle" alt="">
                                                    </a>
                                                    <div class="media-body">
                                                        <div class="media-text">
                                                            <h5 class="semibold mt0 mb5 text-default">Tamara Moon</h5>
                                                            <p class="mb5">Aenean euismod mauris eu elit. Nulla facilisi. Sed neque. Sed eget lacus. Mauris non dui nec urna suscipit nonummy.</p>
                                                            <!-- meta icon -->
                                                            <p class="mt5 mb0">
                                                                <span class="media-meta">Apr 10, 2014</span>
                                                                <span class="mr5 ml5 text-muted">&#8226;</span>
                                                                <a href="javascript:void(0);" class="media-meta text-default" data-toggle="tooltip" title="Reply"><i class="ico-reply"></i></a>
                                                            </p>
                                                            <!--/ meta icon -->
                                                        </div>

                                                        <!-- nested #2-1 -->
                                                        <div class="media">
                                                            <a href="javascript:void(0);" class="media-object pull-left">
                                                                <img src="{{ site.assets }}image/avatar/avatar3.jpg" class="img-circle" alt="">
                                                            </a>
                                                            <div class="media-body">
                                                                <div class="media-text">
                                                                    <h5 class="semibold mt0 mb5 text-default">Oscar Daniels</h5>
                                                                    <p class="mb5">Duis gravida. Praesent eu nulla at sem molestie sodales. Mauris blandit enim consequat purus. Maecenas libero est, congue a, aliquet vel, vulputate eu, odio.</p>
                                                                    <!-- meta icon -->
                                                                    <p class="mt5 mb0">
                                                                        <span class="media-meta">Apr 8, 2014</span>
                                                                        <span class="mr5 ml5 text-muted">&#8226;</span>
                                                                        <a href="javascript:void(0);" class="media-meta text-default" data-toggle="tooltip" title="Reply"><i class="ico-reply"></i></a>
                                                                    </p>
                                                                    <!--/ meta icon -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- nested #2-1 -->
                                                    </div>
                                                </div>
                                                <!-- nested #2 -->
                                            </div>
                                        </div>

                                        <div class="media">
                                            <a href="javascript:void(0);" class="media-object pull-left">
                                                <img src="{{ site.assets }}image/avatar/avatar4.jpg" class="img-circle" alt="">
                                            </a>
                                            <div class="media-body">
                                                <div class="media-text">
                                                    <h5 class="semibold mt0 mb5 text-accent">Colt Jenkins</h5>
                                                    <p class="mb5">Aliquam fringilla cursus purus. Nullam scelerisque neque sed sem egestas blandit. Nam nulla magna, malesuada vel, convallis in, cursus et, eros.</p>
                                                    <!-- meta icon -->
                                                    <p class="mt5 mb0">
                                                        <span class="media-meta">Nov 11, 2014</span>
                                                        <span class="mr5 ml5 text-muted">&#8226;</span>
                                                        <a href="javascript:void(0);" class="media-meta text-default" data-toggle="tooltip" title="Reply"><i class="ico-reply"></i></a>
                                                    </p>
                                                    <!--/ meta icon -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="media">
                                            <a href="javascript:void(0);" class="media-object pull-left">
                                                <img src="{{ site.assets }}image/avatar/avatar5.jpg" class="img-circle" alt="">
                                            </a>
                                            <div class="media-body">
                                                <div class="media-text">
                                                    <h5 class="semibold mt0 mb5 text-default">Hermione Mayo</h5>
                                                    <p class="mb5">Donec est mauris, rhoncus id, mollis nec, cursus a, enim. Suspendisse aliquet, sem ut cursus luctus, ipsum leo elementum sem, vitae aliquam eros turpis non enim. Mauris quis turpis</p>
                                                    <!-- meta icon -->
                                                    <p class="mt5 mb0">
                                                        <span class="media-meta">Aug 2, 2014</span>
                                                        <span class="mr5 ml5 text-muted">&#8226;</span>
                                                        <a href="javascript:void(0);" class="media-meta text-default" data-toggle="tooltip" title="Reply"><i class="ico-reply"></i></a>
                                                    </p>
                                                    <!--/ meta icon -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- Comments -->

                                <hr style="margin:60px 0;"><!-- horizontal line -->

                                <!-- Post Comments -->
                                <section>
                                    <h4 class="section-title font-alt mt0">Post your comment</h4>
                                    <!-- Login message -->
                                    <div class="alert alert-info text-center nm">
                                        <h4 class="mt0 mb10">Login to post comment</h4>
                                        <p class="text-muted mb15">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>

                                        <a href="javascript:void(0);" class="btn btn-primary">Login Now</a>
                                        <a href="javascript:void(0);" class="btn btn-link">Don't have an accound? register here.</a>
                                    </div>
                                    <!-- Login message -->
                                </section>
                                <!--/ Post Comments -->
                            </article>
                            <!--/ Blog post #1 -->
                            <div class="mb15 visible-xs visible-sm"></div>
                        </div>
                        <!--/ END Left Section -->

                        <!-- START Right Section -->
                        <div class="col-md-3">
                            {% include content/sidebar-blog.html %}
                        </div>
                        <!--/ END Right Section -->
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Blog Content -->