---
layout: default
category: blog
menu: blog medium
submenu: 
pluginscss: [
    "plugins/magnific/css/magnific.css",
    "plugins/owl/css/owl-carousel.css"
]
pluginsjs: [
    "plugins/magnific/js/jquery.magnific-popup.js",
    "plugins/owl/js/owl.carousel.js",
    "plugins/shuffle/js/jquery.shuffle.js"
]
pagejs: [
    "javascript/frontend/pages/blog.js"
]
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">Blog Medium</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Blog</a></li>
                                <li class="active">Blog Medium</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Blog Content -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Row -->
                    <div class="row">
                        <!-- START Left Section -->
                        <div class="col-md-9">
                            <!-- blog post #1 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <div class="table-layout">
                                    <div class="col-sm-5">
                                        <!-- Thumbnail -->
                                        <header class="thumbnail">
                                            <!-- media -->
                                            <div class="media">
                                                <!-- indicator -->
                                                <div class="indicator"><span class="spinner"></span></div>
                                                <!--/ indicator -->
                                                <!-- toolbar overlay -->
                                                <div class="overlay">
                                                    <div class="toolbar">
                                                        <a href="javascript:void(0);" class="btn btn-default"><i class="ico-link4"></i></a>
                                                    </div>
                                                </div>
                                                <!--/ toolbar overlay -->
                                                <img data-toggle="unveil" src="{{ site.assets }}image/background/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog1.jpg" alt="Photo" height="100%">
                                            </div>
                                            <!--/ media -->
                                        </header>
                                        <!--/ Thumbnail -->
                                    </div>
                                    <div class="col-sm-7 pa15">
                                        <!-- heading -->
                                        <h3 class="section-title font-alt ellipsis mt0">I am Oz, the Great and Terrible</h3>
                                        <!--/ heading -->

                                        <!-- meta -->
                                        <p class="meta">
                                            <a href="javascript:void(0);">0 comment</a><!-- comments -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Latest news</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Lamar Morin</a><!-- author -->
                                        </p>
                                        <!--/ meta -->

                                        <!-- text -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <!--/ text -->

                                        <!-- button -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!--/ button -->
                                    </div>
                                </div>
                            </article>
                            <!--/ blog post #1 -->

                            <hr style="margin:60px 0;"><!-- horizontal line -->

                            <!-- blog post #2 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <div class="table-layout">
                                    <div class="col-sm-5">
                                        <!-- Owl Carousel -->
                                        <header id="gallery-post" class="owl-carousel">
                                            <div class="image"><img src="{{ site.assets }}image/background/blog/blog5.jpg"></div>
                                            <div class="image"><img src="{{ site.assets }}image/background/blog/blog3.jpg"></div>
                                            <div class="image"><img src="{{ site.assets }}image/background/blog/blog4.jpg"></div>
                                        </header>
                                        <!--/ Owl Carousel -->
                                    </div>
                                    <div class="col-sm-7 pa15">
                                        <!-- heading -->
                                        <h3 class="section-title font-alt ellipsis mt0">The Scarecrow went sorrowfully</h3>
                                        <!--/ heading -->

                                        <!-- meta -->
                                        <p class="meta">
                                            <a href="javascript:void(0);">10 comment</a><!-- comments -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Latest news</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Gordon Barker</a><!-- author -->
                                        </p>
                                        <!--/ meta -->

                                        <!-- text -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <!--/ text -->

                                        <!-- button -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!--/ button -->
                                    </div>
                                </div>
                            </article>
                            <!--/ blog post #2 -->

                            <hr style="margin:60px 0;"><!-- horizontal line -->

                            <!-- blog post #3 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <div class="table-layout">
                                    <div class="col-sm-5">
                                        <!-- Thumbnail -->
                                        <header class="thumbnail">
                                            <!-- media -->
                                            <div class="media">
                                                <!-- indicator -->
                                                <div class="indicator"><span class="spinner"></span></div>
                                                <!--/ indicator -->
                                                <!-- toolbar overlay -->
                                                <div class="overlay">
                                                    <div class="toolbar">
                                                        <a href="https://vimeo.com/7449107" class="btn btn-danger popup-vimeo" data-toggle="tooltip" title="Play Video"><i class="ico-play3"></i></a>
                                                    </div>
                                                </div>
                                                <!--/ toolbar overlay -->
                                                <img data-toggle="unveil" src="{{ site.assets }}image/background/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog2.jpg" alt="Photo" height="100%">
                                            </div>
                                            <!--/ media -->
                                        </header>
                                        <!--/ Thumbnail -->
                                    </div>
                                    <div class="col-sm-7 pa15">
                                        <!-- heading -->
                                        <h3 class="section-title font-alt ellipsis mt0">I am a Woodman, and made of tin</h3>
                                        <!--/ heading -->

                                        <!-- meta -->
                                        <p class="meta">
                                            <a href="javascript:void(0);">15 comment</a><!-- comments -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Life Style</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Emma Setong</a><!-- author -->
                                        </p>
                                        <!--/ meta -->

                                        <!-- text -->
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <!--/ text -->

                                        <!-- button -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!--/ button -->
                                    </div>
                                </div>
                            </article>
                            <!--/ blog post #3 -->

                            <hr style="margin:60px 0;"><!-- horizontal line -->

                            <!-- pager -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="pager nm">
                                        <li class="previous"><a href="javascript:void(0);"><i class="ico-angle-left mr5"></i> Older</a></li>
                                        <li class="next"><a href="javascript:void(0);">Newer <i class="ico-angle-right ml5"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--/ pager -->
                            <div class="mb15 visible-xs visible-sm"></div>
                        </div>
                        <!--/ END Left Section -->

                        <!-- START Right Section -->
                        <div class="col-md-3">
                            {% include content/sidebar-blog.html %}
                        </div>
                        <!--/ END Right Section -->
                    </div>
                    <!--/ END Row -->
                </div>
            </section>