---
layout: default
category: blog
menu: blog right
submenu: 
pluginscss: [
    "plugins/magnific/css/magnific.css",
    "plugins/owl/css/owl-carousel.css"
]
pluginsjs: [
    "plugins/magnific/js/jquery.magnific-popup.js",
    "plugins/owl/js/owl.carousel.js",
    "plugins/shuffle/js/jquery.shuffle.js"
]
pagejs: [
    "javascript/frontend/pages/blog.js"
]
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">Blog Right Sidebar</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Blog</a></li>
                                <li class="active">Blog Right Sidebar</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Blog Content -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Row -->
                    <div class="row">
                        <!-- START Left Section -->
                        <div class="col-md-9">
                            <!-- blog post #1 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <!-- heading -->
                                <h3 class="section-title font-alt mt0">Default post format</h3>
                                <!--/ heading -->

                                <!-- meta -->
                                <p class="meta">
                                    <a href="javascript:void(0);">1 comment</a><!-- comments -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">In </span><a href="javascript:void(0);">Web design</a><!-- category -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">By </span><a href="javascript:void(0);">Hedda Gordon</a><!-- author -->
                                </p>
                                <!--/ meta -->

                                <!-- text -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <!--/ text -->

                                <!-- button -->
                                <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                <!--/ button -->
                            </article>
                            <!--/ blog post #1 -->

                            <hr style="margin:60px 0;"><!-- horizontal line -->

                            <!-- blog post #2 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <!-- heading -->
                                <h3 class="section-title font-alt mt0">Gallery post format</h3>
                                <!--/ heading -->

                                <!-- meta -->
                                <p class="meta">
                                    <a href="javascript:void(0);">9 comment</a><!-- comments -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">In </span><a href="javascript:void(0);">Lifestyle</a><!-- category -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">By </span><a href="javascript:void(0);">Gray Jackson</a><!-- author -->
                                </p>
                                <!--/ meta -->

                                <!-- Owl Carousel -->
                                <div id="gallery-post" class="owl-carousel mb15">
                                    <div class="image"><img src="{{ site.assets }}image/background/blog/blog5.jpg"></div>
                                    <div class="image"><img src="{{ site.assets }}image/background/blog/blog3.jpg"></div>
                                    <div class="image"><img src="{{ site.assets }}image/background/blog/blog4.jpg"></div>
                                </div>
                                <!--/ Owl Carousel -->

                                <!-- text -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.</p>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                <!--/ text -->

                                <!-- button -->
                                <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                <!--/ button -->
                            </article>
                            <!--/ blog post #2 -->

                            <hr style="margin:60px 0;"><!-- horizontal line -->

                            <!-- blog post #3 -->
                            <article class="panel panel-minimal overflow-hidden mb0">
                                <!-- heading -->
                                <h3 class="section-title font-alt mt0">Blockquote post format</h3>
                                <!--/ heading -->

                                <!-- meta -->
                                <p class="meta">
                                    <a href="javascript:void(0);">21 comment</a><!-- comments -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">In </span><a href="javascript:void(0);">Web design</a><!-- category -->
                                    <span class="text-muted mr5 ml5">&#8226;</span>
                                    <span class="text-muted">By </span><a href="javascript:void(0);">John Does</a><!-- author -->
                                </p>
                                <!--/ meta -->

                                <!-- text -->
                                <div class="text-default">
                                    <blockquote class="nm">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                    </blockquote>
                                </div>
                                <!--/ text -->

                                <!-- button -->
                                <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                <!--/ button -->
                            </article>
                            <!--/ blog post #3 -->

                            <hr style="margin:60px 0;"><!-- horizontal line -->

                            <!-- pager -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="pager nm">
                                        <li class="previous"><a href="javascript:void(0);"><i class="ico-angle-left mr5"></i> Older</a></li>
                                        <li class="next"><a href="javascript:void(0);">Newer <i class="ico-angle-right ml5"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--/ pager -->
                            <div class="mb15 visible-xs visible-sm"></div>
                        </div>
                        <!--/ END Left Section -->

                        <!-- START Right Section -->
                        <div class="col-md-3">
                            {% include content/sidebar-blog.html %}
                        </div>
                        <!--/ END Right Section -->
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Blog Content -->