---
layout: default
category: home
menu: home1
submenu: 
pluginscss: [
    "plugins/owl/css/owl-carousel.css"
]
pluginsjs: [
    "plugins/owl/js/owl.carousel.js",
    "plugins/stellar/js/jquery.stellar.js"
]
pagejs: [
    "javascript/frontend/home/home-v2.js"
]
---

<!-- START jumbotron -->
            <section class="jumbotron jumbotron-bg7 nm" data-stellar-background-ratio="0.4" style="min-height:486px;">
                <!-- pattern + overlay -->
                <div class="overlay pattern pattern2"></div>
                <!--/ pattern + overlay -->
                <div class="container" style="padding-top:8%;padding-bottom:8%;">
                    <div class="row">
                        <div class="col-md-8">
                            <h1 class="thin text-white font-alt mt0 mb5">Create application in an instant.</h1>
                            <p class="text-white mb15 fsize14">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat.
                            </p>
                            <h4 class="mt0"><a href="javascript:void(0);">Learn More...</a></h4>
                        </div>
                        <div class="col-md-4">
                            <form role="form">
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" id="signup_username" placeholder="Pick a username">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control input-lg" id="signup_email" placeholder="Your email">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control input-lg" id="signup_password" placeholder="Create a password">
                                    <span class="help-block text-muted">Use at least one lowercase letter, one numeral, and seven characters.</span>
                                </div>
                                <button type="submit" class="btn btn-success btn-block btn-lg">Signup Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!--/ END jumbotron -->

            <!-- START Features Section -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center">
                                <h1 class="section-title font-alt mb25">Awesome Features</h1>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h4 class="thin text-muted text-center">
                                            List of <span class="semibold text-accent">Adminre</span> feature sets that will blow up your mind.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- START row -->
                    <div class="table-layout mb0">
                        <div class="col-md-4">
                            <div class="table-layout animation" data-toggle="waypoints" data-showanim="fadeInRight" data-trigger-once="true">
                                <div class="col-xs-2 valign-top"><img src="../image/icons/responsivewebdesign.png" width="100%" alt=""></div>
                                <div class="col-xs-19 pl15">
                                    <h4 class="font-alt">Responsive Design</h4>
                                    <p class="nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua.</p>
                                </div>
                            </div>

                            <div class="table-layout animation" data-toggle="waypoints" data-showanim="fadeInRight" data-trigger-once="true">
                                <div class="col-xs-2 valign-top"><img src="../image/icons/seoplanning.png" width="100%" alt=""></div>
                                <div class="col-xs-10 pl15">
                                    <h4 class="font-alt">SEO Optimize</h4>
                                    <p class="nm">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pt15 text-center animation" data-toggle="waypoints" data-showanim="flipInY" data-trigger-once="true" data-offset="40%">
                            <img src="../image/mockup/iphone-5s.png">
                        </div>
                        <div class="col-md-4">
                            <div class="table-layout text-right animation" data-toggle="waypoints" data-showanim="fadeInLeft" data-trigger-once="true">
                                <div class="col-xs-10 pr15">
                                    <h4 class="font-alt">Blazing Fast</h4>
                                    <p class="nm">Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat.</p>
                                </div>
                                <div class="col-xs-2 valign-top"><img src="../image/icons/branddevelopment.png" width="99%" alt=""></div>
                            </div>

                            <div class="table-layout text-right animation mb0" data-toggle="waypoints" data-showanim="fadeInLeft" data-trigger-once="true">
                                <div class="col-xs-10 pr15">
                                    <h4 class="font-alt">Clean Code</h4>
                                    <p class="nm">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="col-xs-2 valign-top"><img src="../image/icons/cleancode.png" width="100%" alt=""></div>
                            </div>
                        </div>
                    </div>
                    <!--/ END row -->
                </div>
            </section>
            <!--/ END Features Section -->

            <!-- START Recent Blog Section -->
            <section class="section">
                <div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center">
                                <h1 class="section-title font-alt mb25">Blog Post</h1>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- START row -->
                    <div class="row">
                        <!-- Header -->
                        <div class="col-md-3">
                            <h4 class="mt0">Latest blog post updated daily.</h4>
                            <p class="mb15 text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua.</p>

                            <a href="javascript:void(0);" class="btn btn-primary">View All Posts</a>
                            <div class="mb15 visible-xs visible-sm"></div>
                        </div>
                        <!--/ Header -->

                        <!-- Blog list -->
                        <div class="col-md-9">
                            <div class="row">
                                <!-- Blog post #1 -->
                                <div class="col-sm-4 post">
                                    <article class="panel no-border overflow-hidden mb0">
                                        <!-- Thumbnail -->
                                        <header class="thumbnail">
                                            <!-- media -->
                                            <div class="media">
                                                <!-- indicator -->
                                                <div class="indicator"><span class="spinner"></span></div>
                                                <!--/ indicator -->
                                                <!-- toolbar overlay -->
                                                <div class="overlay">
                                                    <div class="toolbar">
                                                        <a href="javascript:void(0);" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                                    </div>
                                                </div>
                                                <!--/ toolbar overlay -->
                                                <img data-toggle="unveil" src="{{ site.assets }}image/background/blog/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog1.jpg" alt="Photo" height="160px">
                                            </div>
                                            <!--/ media -->
                                        </header>
                                        <!--/ Thumbnail -->
                                        <!-- Content -->
                                        <section class="pa20">
                                            <!-- heading -->
                                            <h4 class="mt0 ellipsis">Lorem ipsum dolor sit amet</h4>
                                            <!--/ heading -->
                                            <!-- meta -->
                                            <p class="meta nm">
                                                <a href="javascript:void(0);">June, 2014</a><!-- date -->
                                                <span class="text-muted mr5 ml5">&#8226;</span>
                                                <span class="text-muted">By </span><a href="javascript:void(0);">Mark Adams</a><!-- author -->
                                            </p>
                                            <!--/ meta -->
                                        </section>
                                        <!--/ Content -->
                                    </article>
                                    <div class="mb15 visible-xs"></div>
                                </div>
                                <!--/ Blog post #1 -->

                                <!-- Blog post #2 -->
                                <div class="col-sm-4 post">
                                    <article class="panel no-border overflow-hidden mb0">
                                        <!-- Thumbnail -->
                                        <header class="thumbnail">
                                            <!-- media -->
                                            <div class="media">
                                                <!-- indicator -->
                                                <div class="indicator"><span class="spinner"></span></div>
                                                <!--/ indicator -->
                                                <!-- toolbar overlay -->
                                                <div class="overlay">
                                                    <div class="toolbar">
                                                        <a href="javascript:void(0);" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                                    </div>
                                                </div>
                                                <!--/ toolbar overlay -->
                                                <img data-toggle="unveil" src="{{ site.assets }}image/background/blog/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog2.jpg" alt="Photo" height="160px">
                                            </div>
                                            <!--/ media -->
                                        </header>
                                        <!--/ Thumbnail -->
                                        <!-- Content -->
                                        <section class="pa20">
                                            <!-- heading -->
                                            <h4 class="mt0 ellipsis">Duis aute irure dolor in reprehenderit in voluptate.</h4>
                                            <!--/ heading -->
                                            <!-- meta -->
                                            <p class="meta nm">
                                                <a href="javascript:void(0);">June, 2014</a><!-- date -->
                                                <span class="text-muted mr5 ml5">&#8226;</span>
                                                <span class="text-muted">By </span><a href="javascript:void(0);">Jenna Howard</a><!-- author -->
                                            </p>
                                            <!--/ meta -->
                                        </section>
                                        <!--/ Content -->
                                    </article>
                                    <div class="mb15 visible-xs"></div>
                                </div>
                                <!--/ Blog post #2 -->

                                <!-- Blog post #3 -->
                                <div class="col-sm-4 post">
                                    <article class="panel no-border overflow-hidden mb0">
                                        <!-- Thumbnail -->
                                        <header class="thumbnail">
                                            <!-- media -->
                                            <div class="media">
                                                <!-- indicator -->
                                                <div class="indicator"><span class="spinner"></span></div>
                                                <!--/ indicator -->
                                                <!-- toolbar overlay -->
                                                <div class="overlay">
                                                    <div class="toolbar">
                                                        <a href="javascript:void(0);" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                                    </div>
                                                </div>
                                                <!--/ toolbar overlay -->
                                                <img data-toggle="unveil" src="{{ site.assets }}image/background/blog/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog3.jpg" alt="Photo" height="160px">
                                            </div>
                                            <!--/ media -->
                                        </header>
                                        <!--/ Thumbnail -->
                                        <!-- Content -->
                                        <section class="pa20">
                                            <!-- heading -->
                                            <h4 class="mt0 ellipsis">Vivamus nibh dolor, nonummy ac, feugiat non, lobortis quis, pede.</h4>
                                            <!--/ heading -->
                                            <!-- meta -->
                                            <p class="meta nm">
                                                <a href="javascript:void(0);">Apr, 2014</a><!-- date -->
                                                <span class="text-muted mr5 ml5">&#8226;</span>
                                                <span class="text-muted">By </span><a href="javascript:void(0);">Glenna Espi</a><!-- author -->
                                            </p>
                                            <!--/ meta -->
                                        </section>
                                        <!--/ Content -->
                                    </article>
                                </div>
                                <!--/ Blog post #3 -->
                            </div>
                        </div>
                        <!--/ Blog list -->
                    </div>
                    <!--/ END row -->
                </div>
            </section>
            <!--/ END Recent Blog Section -->

            <!-- START Testimonials section + jumbotron -->
            <section class="section jumbotron jumbotron-bg6 nm" data-stellar-background-ratio="0.4">
                <div class="pb35">
                    <!-- pattern + overlay -->
                    <div class="overlay pattern pattern10"></div>
                    <!-- pattern + overlay -->

                    <div class="container">
                        <!-- START Section Header -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-header no-border text-center">
                                    <h1 class="section-title font-alt">Testimonials</h1>
                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <h4 class="thin text-muted text-center">Some of our satisfied customers review</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ END Section Header -->

                        <!-- START row -->
                        <div class="row">
                            <!-- example 1 -->
                            <div class="owl-carousel" id="customer-reviews">
                                <!-- review #1 -->
                                <div class="item text-center pt5">
                                    <blockquote class="nm">
                                        <p>Best admin panel on themeforest, thanks for the amazing work!!!</p>
                                        <footer class="text-white">Zebdi</footer>
                                    </blockquote>
                                </div>
                                <!--/ review #1 -->
                                <!-- review #2 -->
                                <div class="item text-center pt5">
                                    <blockquote class="nm">
                                        <p>Very stylish theme and very easy to implement. Works perfectly in different browsers and on different devices and has frequent updates.</p>
                                        <footer class="text-white">Jacko120</footer>
                                    </blockquote>
                                </div>
                                <!--/ review #2 -->
                                <!-- review #3 -->
                                <div class="item text-center pt5">
                                    <blockquote class="nm">
                                        <p>Well commented code, easy to work with it. Great work!</p>
                                        <footer class="text-white">indexto</footer>
                                    </blockquote>
                                </div>
                                <!--/ review #3 -->
                                <!-- review #4 -->
                                <div class="item text-center pt5">
                                    <blockquote class="nm">
                                        <p>Lightweight and mobile focused, neat, clean and well organized code. Please keep up the good work!</p>
                                        <footer class="text-white">chakkit</footer>
                                    </blockquote>
                                </div>
                                <!--/ review #4 -->
                                <!-- review #5 -->
                                <div class="item text-center pt5">
                                    <blockquote class="nm">
                                        <p>Overall a great product guys! Everything is great, the design, the code, the feel. Thank you!</p>
                                        <footer class="text-white">Anblick1010</footer>
                                    </blockquote>
                                </div>
                                <!--/ review #5 -->
                            </div>
                            <!--/ example 1 -->
                        </div>
                        <!--/ END row -->
                    </div>
                </div>
            </section>
            <!--/ END Testimonials section + jumbotron -->

            <!-- START Tweet Section -->
            <section class="pt35 pb35 bgcolor-primary">
                <div class="container text-center">
                    <h4 class="mt0 mb5"><i class="ico-twitter2"></i>&nbsp;&nbsp;Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</h4>
                    <i>23 Minute Ago</i>
                </div>
            </section>
            <!--/ END Tweet Section -->