---
layout: default
category: pages
menu: contact us
submenu:
pluginscss: []
pluginsjs: [
    "plugins/gmaps/js/gmaps.js"
]
externaljs: [
    "http://maps.google.com/maps/api/js?sensor=true"
]
pagejs: [
    "javascript/frontend/pages/contact.js"
]
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">Contact Us</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Pages</a></li>
                                <li class="active">Contact Us</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Big Google Maps -->
            <section class="maps">
                <div id="gmaps-marker" style="height:360px;"></div>
            </section>
            <!--/ END Big Google Maps -->

            <!-- START Contact Form + Infos -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Row -->
                    <div class="row">
                        <!-- START Left Section -->
                        <div class="col-md-9">
                            <!-- Form -->
                            <h3 class="section-title font-alt mt0">Contact Form</h3>
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <p class="form-control-static">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                        consequat.</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="contact_name" class="control-label">Name <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="contact_name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label for="contact_email" class="control-label">Email <span class="text-danger">*</span></label>
                                        <input type="email" class="form-control" id="contact_email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <label for="contact_email" class="control-label">Your Message <span class="text-danger">*</span></label>
                                        <textarea class="form-control" rows="6" id="contact_message"></textarea>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                            <!--/ Form -->

                            <div class="mb15 visible-xs visible-sm"></div>
                        </div>
                        <!--/ END Left Section -->
                        
                        <!-- START Right Section -->
                        <div class="col-md-3">
                            {% include content/sidebar.html %}    
                        </div>
                        <!--/ END Right Section -->
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Contact Form + Infos -->