---
layout: default
category: pages
menu: login
submenu:
pluginscss: []
pluginsjs: []
pagejs: []
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">Login</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Pages</a></li>
                                <li class="active">Login</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Register Content -->
            <section class="section">
                <div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center">
                                <h1 class="section-title font-alt mb25">Login to your Account</h1>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- START Row -->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <!-- Social button -->
                            <ul class="list-table mb25">
                                <li><button type="button" class="btn btn-block btn-facebook">Connect with <i class="ico-facebook2 ml5"></i></button></li>
                                <li><button type="button" class="btn btn-block btn-twitter">Connect with <i class="ico-twitter2 ml5"></i></button></li>
                            </ul>
                            <!-- Social button -->

                            <!-- Login form -->
                            <form class="panel no-border mb0" name="form-login" action="">
                                <div class="panel-body">
                                    <!-- Alert message -->
                                    <div class="alert alert-warning">
                                        <span class="semibold">Note :</span>&nbsp;&nbsp;Just put anything and hit 'sign-in' button.
                                    </div>
                                    <!--/ Alert message -->
                                    <div class="form-group">
                                        <select class="form-control" name="lang">
                                            <option value="0">Select language</option>
                                            <option value="en">English</option>
                                            <option value="da">Danish - Dansk</option>
                                            <option value="nl">Dutch - Nederlands</option>
                                            <option value="en-gb">English - UK</option>
                                            <option value="fr">French - français</option>
                                            <option value="de">German - Deutsch</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <div class="form-stack has-icon pull-left">
                                            <input name="username" type="text" class="form-control input-lg" placeholder="Username / email" data-parsley-errors-container="#error-container" data-parsley-error-message="Please fill in your username / email" data-parsley-required>
                                            <i class="ico-user2 form-control-icon"></i>
                                        </div>
                                        <div class="form-stack has-icon pull-left">
                                            <input name="password" type="password" class="form-control input-lg" placeholder="Password" data-parsley-errors-container="#error-container" data-parsley-error-message="Please fill in your password" data-parsley-required>
                                            <i class="ico-lock2 form-control-icon"></i>
                                        </div>
                                    </div>

                                    <!-- Error container -->
                                    <div id="error-container"class="mb15"></div>
                                    <!--/ Error container -->

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="checkbox custom-checkbox">  
                                                    <input type="checkbox" name="remember" id="remember" value="1">  
                                                    <label for="remember">&nbsp;&nbsp;Remember me</label>   
                                                </div>
                                            </div>
                                            <div class="col-xs-6 text-right">
                                                <a href="javascript:void(0);">Lost password?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group nm">
                                        <button type="submit" class="btn btn-block btn-primary"><span class="semibold">Login</span></button>
                                    </div>
                                </div>
                            </form>
                            <!-- Login form -->
                        </div>
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Register Content -->