---
layout: default
category: pages
menu: about us
submenu:
pluginscss: [
    "plugins/owl/css/owl-carousel.css"
]
pluginsjs: [
    "plugins/owl/js/owl.carousel.js"
]
pagejs: [
    "javascript/frontend/pages/about.js"
]
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">About Us</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Pages</a></li>
                                <li class="active">About Us</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Welcome Message + Video -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Row -->
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="font-alt mt0">WELCOME MESSAGE</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                            <blockquote class="mb0">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                            </blockquote>

                            <div class="mb15 visible-xs visible-sm"></div>
                        </div>

                        <div class="col-md-6">
                            <!-- Iframe container -->
                            <div class="iframe-container">
                                <iframe src="//player.vimeo.com/video/7449107" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="0"></iframe>
                            </div>
                            <!--/ Iframe container -->
                        </div>
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Welcome Message + Video -->

            <!-- START Meet Team -->
            <section class="section">
                <div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header no-border text-center">
                                <h1 class="section-title font-alt">Meet Out Team</h1>
                                <h4 class="thin text-muted">Our awesome team member</h4>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- START Row -->
                    <div class="row">
                        <div class="col-sm-3">
                            <!-- team #1 -->
                            <div class="panel no-border overflow-hidden mb0">
                                <!-- avatar -->
                                <img src="../image/team/team1.jpg" width="100%" alt="photo">
                                <!--/ avatar -->
                                <!-- panel body -->
                                <div class="panel-body">
                                    <h4 class="semibold ellipsis text-center mt0">
                                        <p class="nm">Zena Meyers</p>
                                        <small class="text-accent">Chief Executive</small>
                                    </h4>
                                    <p class="text-center nm">molestie pharetra nibh. Aliquam ornare, libero at auctor ullamcorper</p>
                                    <hr>
                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                    </div>
                                </div>
                                <!--/ panel body -->
                            </div>
                            <div class="mb15 visible-xs"></div>
                            <!--/ team #1 -->
                        </div>
                        <div class="col-sm-3">
                            <!-- team #2 -->
                            <div class="panel no-border overflow-hidden mb0">
                                <!-- avatar -->
                                <img src="../image/team/team2.jpg" width="100%" alt="photo">
                                <!--/ avatar -->
                                <!-- panel body -->
                                <div class="panel-body">
                                    <h4 class="semibold ellipsis text-center mt0">
                                        <p class="nm">Dylan Mcfarland</p>
                                        <small class="text-accent">Lead Designer</small>
                                    </h4>
                                    <p class="text-center nm">Vestibulum ut eros non enim commodo hendrerit. Donec porttitor</p>
                                    <hr>
                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                    </div>
                                </div>
                                <!--/ panel body -->
                            </div>
                            <div class="mb15 visible-xs"></div>
                            <!--/ team #2 -->
                        </div>
                        <div class="col-sm-3">
                            <!-- team #3 -->
                            <div class="panel no-border overflow-hidden mb0">
                                <!-- avatar -->
                                <img src="../image/team/team3.jpg" width="100%" alt="photo">
                                <!--/ avatar -->
                                <!-- panel body -->
                                <div class="panel-body">
                                    <h4 class="semibold ellipsis text-center mt0">
                                        <p class="nm">Ella Trevino</p>
                                        <small class="text-accent">Senior Developer</small>
                                    </h4>
                                    <p class="text-center nm">amet metus. Aliquam erat volutpat. Nulla facilisis. Suspendisse commodo</p>
                                    <hr>
                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                    </div>
                                </div>
                                <!--/ panel body -->
                            </div>
                            <div class="mb15 visible-xs"></div>
                            <!--/ team #3 -->
                        </div>
                        <div class="col-sm-3">
                            <!-- team #4 -->
                            <div class="panel no-border overflow-hidden mb0">
                                <!-- avatar -->
                                <img src="../image/team/team4.jpg" width="100%" alt="photo">
                                <!--/ avatar -->
                                <!-- panel body -->
                                <div class="panel-body">
                                    <h4 class="semibold ellipsis text-center mt0">
                                        <p class="nm">Maxwell Duran</p>
                                        <small class="text-accent">Supervisor</small>
                                    </h4>
                                    <p class="text-center nm">Pellentesque tincidunt tempus risus. Donec egestas. Duis ac arcu ullamcorper.</p>
                                    <hr>
                                    <div class="text-center">
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                        <a href="javascript:void(0);" class="text-default mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                    </div>
                                </div>
                                <!--/ panel body -->
                            </div>
                            <!--/ team #4 -->
                        </div>
                    </div>
                    <!--/ END Row -->
                </div>
            </section>
            <!--/ END Meet Team -->

            <!-- START Lovely Client -->
            <section class="section bgcolor-white">
                <div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center">
                                <h1 class="section-title font-alt mb25">Lovely Client</h1>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- carousel -->
                    <div class="owl-carousel" id="lovely-client">
                        <!-- client #1 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/aztec.png" alt="Aztec Logo"></a>
                        </div>
                        <!--/ client #1 -->
                        <!-- client #2 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/cisco.png" alt="Cisco Logo"></a>
                        </div>
                        <!--/ client #2 -->
                        <!-- client #3 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/cocacola.png" alt="Cocacola Logo"></a>
                        </div>
                        <!--/ client #3 -->
                        <!-- client #4 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/everyday.png" alt="Everyday Logo"></a>
                        </div>
                        <!--/ client #4 -->
                        <!-- client #5 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/hp.png" alt="HP Logo"></a>
                        </div>
                        <!--/ client #5 -->
                        <!-- client #6 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/natural.png" alt="Natural Logo"></a>
                        </div>
                        <!--/ client #6 -->
                        <!-- client #7 -->
                        <div class="item text-center">
                            <a href="javascript:void(0);"><img src="../image/client/shell.png" alt="Shell Logo"></a>
                        </div>
                        <!--/ client #7 -->
                    </div>
                    <!--/ carousel -->
                </div>
            </section>
            <!--/ END Lovely Client -->