---
layout: default
category: shop
menu: default
submenu: 
pluginscss: []
pluginsjs: []
pagejs: []
---

<!-- START page header -->
            <section class="page-header page-header-block nm">
                <!-- pattern -->
                <div class="pattern pattern9"></div>
                <!--/ pattern -->
                <div class="container pt15 pb15">
                    <div class="page-header-section">
                        <h4 class="title">Shop Shopping Cart</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Shop</a></li>
                                <li class="active">Shopping Cart</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
            </section>
            <div class="clearfix"></div>
            <!--/ END page header -->

            <!-- START Shop Content -->
            <section class="section">
                <div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center">
                                <h1 class="section-title font-alt mb25">Shopping Cart</h1>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h4 class="thin text-muted text-center mb30">Please review your order below</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- START row -->
                    <div class="row">
                        <div class="col-md-8">
                            <div class="panel nm" style="border-bottom-width:1px;">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th width="15%">Image</th>
                                            <th>Descriptions</th>
                                            <th width="15%">Quantity</th>
                                            <th width="15%">Price</th>
                                            <th width="5%">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <!-- thumbnail -->
                                                <div class="thumbnail nm">
                                                    <!-- media -->
                                                    <div class="media">
                                                        <!-- indicator -->
                                                        <div class="indicator"><span class="spinner"></span></div>
                                                        <!--/ indicator -->

                                                        <img data-toggle="unveil" src="{{ site.assets }}image/shop/placeholder.jpg" data-src="{{ site.assets }}image/shop/item1.jpg" alt="Photo" width="100%" />
                                                    </div>
                                                    <!--/ media -->
                                                </div>
                                                <!--/ thumbnail -->
                                            </td>
                                            <td>
                                                <h4 class="mt0">505 Fit Jeans</h4>
                                                <p class="nm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </td>
                                            <td>
                                                <h4 class="font-alt nm">x5</h4>
                                            </td>
                                            <td>
                                                <h4 class="font-alt text-primary nm">$102.50</h4>
                                            </td>
                                            <td>
                                                <h5 class="nm"><a href="#"><i class="ico-close2"></i></a></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <!-- thumbnail -->
                                                <div class="thumbnail nm">
                                                    <!-- media -->
                                                    <div class="media">
                                                        <!-- indicator -->
                                                        <div class="indicator"><span class="spinner"></span></div>
                                                        <!--/ indicator -->

                                                        <img data-toggle="unveil" src="{{ site.assets }}image/shop/placeholder.jpg" data-src="{{ site.assets }}image/shop/item2.jpg" alt="Photo" width="100%" />
                                                    </div>
                                                    <!--/ media -->
                                                </div>
                                                <!--/ thumbnail -->
                                            </td>
                                            <td>
                                                <h4 class="mt0">505 Regular Fit</h4>
                                                <p class="nm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua.</p>
                                            </td>
                                            <td>
                                                <h4 class="font-alt nm">x2</h4>
                                            </td>
                                            <td>
                                                <h4 class="font-alt text-primary nm">$211.50</h4>
                                            </td>
                                            <td>
                                                <h5 class="nm"><a href="#"><i class="ico-close2"></i></a></h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <h3 class="section-title font-alt mt0">Some note for you</h3>

                            <p class="mb15">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
                            <p class="mb15">quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident.</p>

                            <div class="clearfix">
                                <button class="btn btn-primary pull-left">Proceed to checkout</button>
                                <button class="btn btn-link pull-left">Continue shopping</button>
                            </div>
                        </div>
                    </div>
                    <!--/ END row -->
                </div>
            </section>
            <!--/ END Shop Content -->

            <!-- START Related Product -->
            <section class="section bgcolor-white">
                {% include content/related-product.html %}
            </section>
            <!--/ END Related Product -->