<!-- START META SECTION -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ site.name | capitalize }}</title>
        <meta name="author" content="pampersdry.info">
        <meta name="description" content="{{ site.description | capitalize }}">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.assets }}image/touch/apple-touch-icon-144x144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ site.assets }}image/touch/apple-touch-icon-114x114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ site.assets }}image/touch/apple-touch-icon-72x72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="{{ site.assets }}image/touch/apple-touch-icon-57x57-precomposed.png">
        <link rel="shortcut icon" href="{{ site.assets }}image/favicon.ico">
        <!--/ END META SECTION -->

        <!-- START STYLESHEETS -->
        <!-- Plugins stylesheet : optional -->
        {% for item in page.externalcss %}<link rel="stylesheet" href="{{ item }}">
        {% endfor %}{% for item in page.pluginscss %}<link rel="stylesheet" href="{{ site.assets }}{{ item }}">
        {% endfor %}<!--/ Plugins stylesheet : optional -->

        <!-- Application stylesheet : mandatory -->
        <link rel="stylesheet" href="{{ site.assets }}stylesheet/bootstrap.css">
        <link rel="stylesheet" href="{{ site.assets }}stylesheet/layout.css">
        <link rel="stylesheet" href="{{ site.assets }}stylesheet/uielement.css">
        <link rel="stylesheet" href="{{ site.assets }}stylesheet/themes/layouts/fixed-header.css">
        <!--/ Application stylesheet -->

        <!-- modernizr script -->
        <script type="text/javascript" src="{{ site.assets }}plugins/modernizr/js/modernizr.js"></script>
        <!--/ modernizr script -->
        <!-- END STYLESHEETS -->