---
layout: default
category: component
menu: loading
submenu: 
pluginscss: []
pluginsjs: []
pagejs: []
---

<!-- START Template Container -->
            <div class="container-fluid">
                <!-- Page Header -->
                <div class="page-header page-header-block">
                    <div class="page-header-section">
                        <h4 class="title semibold">Loading indicator</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Component</a></li>
                                <li class="active">Loading indicator</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
                <!-- Page Header -->

                <!-- START row -->
                <div class="row">
                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">Default spinner</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner1</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner1"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner2</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner2"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner3</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner3"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>
                </div>
                <!--/ END row -->

                <!-- START row -->
                <div class="row">
                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner4</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner4"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner5</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner5"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner6</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner6"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner7</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner7"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>
                </div>
                <!--/ END row -->

                <!-- START row -->
                <div class="row">
                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner8</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner8"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner9</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner9"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner10</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner10"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner11</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner11"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>
                </div>
                <!--/ END row -->

                <!-- START row -->
                <div class="row">
                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner12</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner12"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner13</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner13"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner14</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner14"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>

                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner15</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner15"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>
                </div>
                <!--/ END row -->

                <!-- START row -->
                <div class="row">
                    <div class="col-lg-3">
                        <!-- panel -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title">spinner16</h5>
                            </div>
                            <div class="panel-body">
                                <!-- indicator -->
                                <div class="indicator show"><span class="spinner spinner16"></span></div>
                                <!--/ indicator -->
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                        <!--/ panel -->
                    </div>
                </div>
                <!--/ END row -->
            </div>
            <!--/ END Template Container -->