---
layout: default
category: component
menu: tabsaccordion
submenu:
pluginscss: []
pluginsjs: []
pagejs: []
---

<!-- START Template Container -->
            <div class="container-fluid">
                <!-- Page Header -->
                <div class="page-header page-header-block">
                    <div class="page-header-section">
                        <h4 class="title semibold">Tabs &amp; accordion</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="javascript:void(0);">Component</a></li>
                                <li class="active">Tabs &amp; accordion</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
                <!-- Page Header -->

                <!-- START row -->
                <div class="row">
                    <div class="col-sm-6">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Accordion Default</h5>
                        </div>
                        <!--/ section header -->
                        <!-- panel group -->
                        <div class="panel-group" id="accordion1">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseOne" class="collapsed">
                                            <span class="arrow mr5"></span> Group 1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo" class="collapsed">
                                            <span class="arrow mr5"></span> Group 2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion1" href="#collapseThree" class="collapsed">
                                            <span class="arrow mr5"></span> Group 3
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ panel group -->
                    </div>

                    <div class="col-sm-6">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Accordion Compact</h5>
                        </div>
                        <!--/ section header -->
                        <!-- panel group -->
                        <div class="panel-group panel-group-compact" id="accordion2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne1" class="collapsed">
                                            <span class="plus mr5"></span> Group 1
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne1" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" class="collapsed">
                                            <span class="plus mr5"></span> Group 2
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapseThree3" class="collapsed">
                                            <span class="plus mr5"></span> Group 3
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseThree3" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--/ panel group -->
                    </div>
                </div>
                <!--/ END row -->
                <hr>
                <!-- START row -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Default Tabs</h5>
                        </div>
                        <!--/ section header -->
                        <!-- tab -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#popular" data-toggle="tab">Popular</a></li>
                            <li><a href="#comments" data-toggle="tab">Comments</a></li>
                        </ul>
                        <!--/ tab -->
                        <!-- tab content -->
                        <div class="tab-content panel">
                            <div class="tab-pane active np" id="popular">
                                <!-- Media list -->
                                <div class="media-list">
                                    <a href="javascript:void(0);" class="media border-dotted">
                                        <span class="pull-left">
                                            <img src="{{ site.assets }}image/background/400x400/background4.jpg" class="media-object img-rounded" alt="">
                                        </span>
                                        <span class="media-body">
                                            <span class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                            <!-- meta icon -->
                                            <span class="media-meta"><i class="ico-heart4"></i> 10 Likes</span>
                                            <!--/ meta icon -->
                                        </span>
                                    </a>
                                    <a href="javascript:void(0);" class="media border-dotted">
                                        <span class="pull-left">
                                            <img src="{{ site.assets }}image/background/400x400/background8.jpg" class="media-object img-rounded" alt="">
                                        </span>
                                        <span class="media-body">
                                            <span class="media-text">Mauris eu turpis. Nulla aliquet. Proin velit consectetur adipisicing.</span>
                                            <!-- meta icon -->
                                            <span class="media-meta"><i class="ico-heart4"></i> 101 Likes</span>
                                            <!--/ meta icon -->
                                        </span>
                                    </a>
                                    <a href="javascript:void(0);" class="media border-dotted">
                                        <span class="pull-left">
                                            <img src="{{ site.assets }}image/background/400x400/background11.jpg" class="media-object img-rounded" alt="">
                                        </span>
                                        <span class="media-body">
                                            <span class="media-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
                                            <!-- meta icon -->
                                            <span class="media-meta"><i class="ico-heart4"></i> 30 Likes</span>
                                            <!--/ meta icon -->
                                        </span>
                                    </a>
                                </div>
                                <!--/ Message list -->
                            </div>
                            <div class="tab-pane np" id="comments">
                                <!-- Message list -->
                                <div class="media-list">
                                    <a href="javascript:void(0);" class="media border-dotted">
                                        <span class="pull-left">
                                            <img src="{{ site.assets }}image/avatar/avatar6.jpg" class="media-object img-circle" alt="">
                                        </span>
                                        <span class="media-body">
                                            <span class="media-heading">Arthur Abbott</span>
                                            <span class="media-text ellipsis nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</span>
                                            <!-- meta icon -->
                                            <span class="media-meta">2m</span>
                                            <!--/ meta icon -->
                                        </span>
                                    </a>

                                    <a href="javascript:void(0);" class="media border-dotted read">
                                        <span class="pull-left">
                                            <img src="{{ site.assets }}image/avatar/avatar1.jpg" class="media-object img-circle" alt="">
                                        </span>
                                        <span class="media-body">
                                            <span class="media-heading">Martina Poole</span>
                                            <span class="media-text ellipsis nm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</span>
                                            <!-- meta icon -->
                                            <span class="media-meta">20m</span>
                                            <!--/ meta icon -->
                                        </span>
                                    </a>

                                    <a href="page-message-rich.html" class="media border-dotted">
                                        <span class="pull-left">
                                            <img src="{{ site.assets }}image/avatar/avatar2.jpg" class="media-object img-circle" alt="">
                                        </span>
                                        <span class="media-body">
                                            <span class="media-heading">Elvis Christensen</span>
                                            <span class="media-text ellipsis nm">Duis aute irure dolor in reprehenderit in voluptate velit esse.</span>
                                            <!-- meta icon -->
                                            <span class="media-meta">5h</span>
                                            <!--/ meta icon -->
                                        </span>
                                    </a>
                                </div>
                                <!--/ Message list -->
                            </div>
                        </div>
                        <!--/ tab content -->
                    </div>

                    <div class="col-md-4">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">With Dropdown</h5>
                        </div>
                        <!--/ section header -->
                        <!-- tab -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tabone1" data-toggle="tab">Tab One</a></li>
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#tabtwo1" data-toggle="tab">Tab two</a></li>
                                    <li><a href="#tabthree1" data-toggle="tab">Tab three</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--/ tab -->
                        <!-- tab content -->
                        <div class="tab-content panel">
                            <div class="tab-pane active" id="tabone1">
                                <h4 class="text-primary mt0">Safari and responsive justified navs</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane" id="tabtwo1">
                                <h4 class="text-primary mt0">jQuery required</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane" id="tabthree1">
                                <h4 class="text-primary mt0">Nested headings</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <!--/ tab content -->
                    </div>

                    <div class="col-md-4">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Justified Tabs</h5>
                        </div>
                        <!--/ section header -->
                        <!-- tab -->
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active"><a href="#tabone2" data-toggle="tab">Tab One</a></li>
                            <li><a href="#tabtwo2" data-toggle="tab">Tab two</a></li>
                            <li><a href="#tabthree2" data-toggle="tab">Tab three</a></li>
                        </ul>
                        <!--/ tab -->
                        <!-- tab content -->
                        <div class="tab-content panel">
                            <div class="tab-pane active" id="tabone2">
                                <h4 class="text-primary mt0">Safari and responsive justified navs</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane" id="tabtwo2">
                                <h4 class="text-primary mt0">jQuery required</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="tab-pane" id="tabthree2">
                                <h4 class="text-primary mt0">Nested headings</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <!--/ tab content -->
                    </div>
                </div>
                <!--/ END row -->

                <hr><!-- horizontal line -->

                <!-- START row -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Nav pills</h5>
                        </div>
                        <!--/ section header -->
                        <ul class="nav nav-pills">
                            <li class="active"><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Profile</a></li>
                            <li><a href="javascript:void(0);">Messages</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Nav pills with dropdown</h5>
                        </div>
                        <!--/ section header -->
                        <ul class="nav nav-pills">
                            <li class="active"><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Help</a></li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);">
                                    Dropdown <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="javascript:void(0);">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <!-- section header -->
                        <div class="section-header mb15">
                            <h5 class="semibold">Nav pills stacked</h5>
                        </div>
                        <!--/ section header -->
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="javascript:void(0);">Home</a></li>
                            <li><a href="javascript:void(0);">Profile</a></li>
                            <li><a href="javascript:void(0);">Messages</a></li>
                        </ul>
                    </div>
                </div>
                <!--/ END row -->
            </div>
            <!--/ END Template Container -->