---
layout: fixed-sidebar
category: layout
menu: layout fixed sidebar
submenu:
pluginscss: []
pluginsjs: []
pagejs: []
---

<!-- START Template Container -->
            <div class="container-fluid" style="min-height:1024px;"><!-- add min-height to simulate scrolling -->
                <!-- Page Header -->
                <div class="page-header page-header-block">
                    <div class="page-header-section">
                        <h4 class="title semibold">Layout Fixed Sidebar</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="#">Layout</a></li>
                                <li class="active">With Fixed Sidebar</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
                <!-- Page Header -->

                
            </div>
            <!--/ END Template Container -->