---
layout: default
category: page
menu: media
submenu: album
pluginscss: []
pluginsjs: []
pagejs: []
---

<!-- START Template Container -->
            <div class="container-fluid">
                <!-- Page Header -->
                <div class="page-header page-header-block">
                    <div class="page-header-section">
                        <h4 class="title semibold">Media album</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <button type="button" class="btn btn-primary"><i class="ico-plus-circle"></i> Create New Album</button>
                            &nbsp;<span class="text-muted semibold">or</span>&nbsp;
                            <div class="btn-group">
                                <button type="button" class="btn btn-default"><i class="ico-upload22"></i></button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    <li class="dropdown-header">Album option</li>
                                    <li><a href="javascript:void(0);">Upload to new album</a></li>
                                    <li><a href="javascript:void(0);">Upload to existing album</a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
                <!-- Page Header -->

                <!-- START row -->
                <div class="row">
                    <div class="col-md-3">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background1.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Rock collections</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Rock</a>&nbsp;
                                    <a href="javascript:void(0);">#Nature</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar1.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar2.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar3.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">3 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background5.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Road Challenge</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Road</a>&nbsp;
                                    <a href="javascript:void(0);">#Hill</a>&nbsp;
                                    <a href="javascript:void(0);">#Challenge</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar4.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar5.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">2 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- media figure -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInRight">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background11.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Retro camera</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Retro</a>&nbsp;
                                    <a href="javascript:void(0);">#Camera</a>&nbsp;
                                    <a href="javascript:void(0);">#Oldschool</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar6.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">John doe</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- media figure -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInRight">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background12.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Animal planet</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Animal</a>&nbsp;
                                    <a href="javascript:void(0);">#Nature</a>&nbsp;
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar5.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar1.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar9.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">3 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-4">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background13.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Bird collection</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Animal</a>&nbsp;
                                    <a href="javascript:void(0);">#Bird</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar2.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar7.jpg" class="img-circle" alt="" />
                                        <span class="more img-circle">6+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">8 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-4">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background14.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Rail station</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Railstation</a>&nbsp;
                                    <a href="javascript:void(0);">#Rail</a>&nbsp;
                                    <a href="javascript:void(0);">#Train</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar7.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar2.jpg" class="img-circle" alt="" />
                                        <span class="more img-circle">2+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">4 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-4">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background15.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Cute pet</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Pet</a>&nbsp;
                                    <a href="javascript:void(0);">#Cute</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar8.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">Samuel Jackson</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background8.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Nice Weather</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Weather</a>&nbsp;
                                    <a href="javascript:void(0);">#Nature</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar5.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar3.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">2 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInLeft">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background7.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Awesome Beach</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Beach</a>&nbsp;
                                    <a href="javascript:void(0);">#Nature</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar2.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar7.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar9.jpg" class="img-circle" alt="" />
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">3 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInRight">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background3.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Hiking collection</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Hiking</a>&nbsp;
                                    <a href="javascript:void(0);">#Mountain</a>&nbsp;
                                    <a href="javascript:void(0);">#Nature</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar2.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar7.jpg" class="img-circle" alt="" />
                                        <span class="more img-circle">4+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">6 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                    <div class="col-md-3">
                        <!-- thumbnail -->
                        <div class="thumbnail thumbnail-album animation animating delay fadeInRight">
                            <!-- media -->
                            <div class="media">
                                <!-- indicator -->
                                <div class="indicator"><span class="spinner"></span></div>
                                <!--/ indicator -->
                                <!-- toolbar overlay -->
                                <div class="overlay">
                                    <div class="toolbar">
                                        <a href="javascript:void(0);" class="btn btn-default" title="upload to collection"><i class="ico-upload22"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-success" title="watch collection"><i class="ico-facetime-video"></i></a>
                                        <a href="javascript:void(0);" class="btn btn-default" title="love this collection"><i class="ico-heart6"></i></a>
                                    </div>
                                </div>
                                <!--/ toolbar overlay -->
                                <img data-toggle="unveil" src="{{ site.assets }}image/background/400x250/placeholder.jpg" data-src="{{ site.assets }}image/background/400x250/background9.jpg" alt="Cover" width="100%" />
                            </div>
                            <!--/ media -->
                            <!-- caption -->
                            <div class="caption">
                                <h5 class="semibold mt0 mb5">Rainy day</h5>
                                <p class="text-muted mb5 ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                                <p class="tag ellipsis">
                                    <a href="javascript:void(0);">#Weather</a>&nbsp;
                                    <a href="javascript:void(0);">#Rain</a>&nbsp;
                                    <a href="javascript:void(0);">#Building</a>
                                </p>
                            </div>
                            <!--/ caption -->
                            <hr class="mt5 mb5">
                            <ul class="meta">
                                <li>
                                    <div class="img-group img-group-stack">
                                        <img src="{{ site.assets }}image/avatar/avatar1.jpg" class="img-circle" alt="" />
                                        <img src="{{ site.assets }}image/avatar/avatar3.jpg" class="img-circle" alt="" />
                                        <span class="more img-circle">3+</span>
                                    </div>
                                </li>
                                <li>
                                    <p class="nm"><a href="javascript:void(0);" class="semibold">5 people</a> love this</p>
                                </li>
                            </ul>
                        </div>
                        <!--/ thumbnail -->
                    </div>
                </div>
                <!--/ END row -->
            </div>
            <!--/ END Template Container -->