---
layout: default
category: page
menu: blog
submenu: blog grid
pluginscss: [
    "plugins/owl/css/owl-carousel.css"
]
pluginsjs: [
    "plugins/owl/js/owl.carousel.js",
    "plugins/shuffle/js/jquery.shuffle.js"
]
pagejs: [
    "javascript/backend/pages/blog.js"
]
---

<!-- START Template Container -->
            <div class="container-fluid">
                <!-- Page Header -->
                <div class="page-header page-header-block">
                    <div class="page-header-section">
                        <h4 class="title semibold">Blog grid</h4>
                    </div>
                    <div class="page-header-section">
                        <!-- Toolbar -->
                        <div class="toolbar">
                            <ol class="breadcrumb breadcrumb-transparent nm">
                                <li><a href="#">Page</a></li>
                                <li class="active">Blog grid</li>
                            </ol>
                        </div>
                        <!--/ Toolbar -->
                    </div>
                </div>
                <!-- Page Header -->

                <!-- START Row -->
                <div class="row">
                    <!-- START left / top side -->
                    <div class="col-lg-9">
                        <div class="row" id="shuffle-grid">
                            <!-- Blog post #1 -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 post">
                                <article class="panel overflow-hidden">
                                    <!-- Content -->
                                    <section class="panel-body">
                                        <!-- heading -->
                                        <h4 class="thin mt0 ellipsis"><a href="javascript:void(0);" class="text-default">Fusce mollis. Duis sit amet diam eu</a></h4>
                                        <!--/ heading -->

                                        <!-- text -->
                                        <div class="text-default">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat&#8230;</p>
                                        </div>
                                        <!--/ text -->

                                        <!-- Meta & button -->
                                        <!-- meta -->
                                        <p class="meta mb15">
                                            <a href="javascript:void(0);">Feb 28, 2015</a><!-- date -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Lifestyle</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Dexter Holmes</a><!-- author -->
                                        </p>
                                        <!--/ meta -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!-- Meta & button -->
                                    </section>
                                    <!--/ Content -->
                                </article>
                            </div>
                            <!--/ Blog post #1 -->

                            <!-- Blog post #2 -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 post">
                                <article class="panel overflow-hidden">
                                    <!-- Thumbnail -->
                                    <header class="thumbnail">
                                        <!-- media -->
                                        <div class="media">
                                            <!-- indicator -->
                                            <div class="indicator"><span class="spinner"></span></div>
                                            <!--/ indicator -->
                                            <!-- toolbar overlay -->
                                            <div class="overlay">
                                                <div class="toolbar">
                                                    <a href="javascript:void(0);" class="btn btn-danger"><i class="ico-heart6"></i></a>
                                                </div>
                                            </div>
                                            <!--/ toolbar overlay -->
                                            <img data-toggle="unveil" src="{{ site.assets }}image/background/blog/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog1.jpg" alt="Photo" height="300px">
                                        </div>
                                        <!--/ media -->
                                    </header>
                                    <!--/ Thumbnail -->

                                    <!-- Content -->
                                    <section class="panel-body">
                                        <!-- heading -->
                                        <h4 class="thin mt0 ellipsis"><a href="javascript:void(0);" class="text-default">Vivamus non lorem vitae odio sagittis semper.</a></h4>
                                        <!--/ heading -->

                                        <!-- text -->
                                        <div class="text-default">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat&#8230;</p>
                                        </div>
                                        <!--/ text -->

                                        <!-- Meta & button -->
                                        <!-- meta -->
                                        <p class="meta mb15">
                                            <a href="javascript:void(0);">Oct 8, 2013</a><!-- date -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Latest news</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Uriel Waters</a><!-- author -->
                                        </p>
                                        <!--/ meta -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!-- Meta & button -->
                                    </section>
                                    <!--/ Content -->
                                </article>
                            </div>
                            <!--/ Blog post #2 -->

                            <!-- Blog post #3 -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 post">
                                <article class="panel overflow-hidden">
                                    <!-- Owl Carousel -->
                                    <header id="carousel2" class="owl-carousel">
                                        <div class="image"><img src="{{ site.assets }}image/background/blog/blog2.jpg" height="260px"></div>
                                        <div class="image"><img src="{{ site.assets }}image/background/blog/blog3.jpg" height="260px"></div>
                                        <div class="image"><img src="{{ site.assets }}image/background/blog/blog4.jpg" height="260px"></div>
                                    </header>
                                    <!--/ Owl Carousel -->

                                    <!-- Content -->
                                    <section class="panel-body">
                                        <!-- heading -->
                                        <h4 class="thin mt0 ellipsis"><a href="javascript:void(0);" class="text-default">Donec vitae erat vel pede blandit congue.</a></h4>
                                        <!--/ heading -->

                                        <!-- text -->
                                        <div class="text-default">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat&#8230;</p>
                                        </div>
                                        <!--/ text -->

                                        <!-- Meta & button -->
                                        <!-- meta -->
                                        <p class="meta mb15">
                                            <a href="javascript:void(0);">Sep 21, 2014</a><!-- date -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Technology</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Ima Mack</a><!-- author -->
                                        </p>
                                        <!--/ meta -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!-- Meta & button -->
                                    </section>
                                    <!--/ Content -->
                                </article>
                            </div>
                            <!--/ Blog post #3 -->

                            <!-- Blog post #4 -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 post">
                                <article class="panel overflow-hidden">
                                    <!-- Content -->
                                    <section class="panel-body">
                                        <!-- heading -->
                                        <h4 class="thin mt0 ellipsis"><a href="javascript:void(0);" class="text-default">Phasellus vitae mauris sit amet lorem semper auctor. Mauris</a></h4>
                                        <!--/ heading -->

                                        <!-- text -->
                                        <div class="text-default">
                                            <blockquote>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                                consequat.</p>
                                                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                                            </blockquote>
                                        </div>
                                        <!--/ text -->

                                        <!-- Meta & button -->
                                        <!-- meta -->
                                        <p class="meta mb15">
                                            <a href="javascript:void(0);">Apr 25, 2014</a><!-- date -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Latest news</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Quon Hayden</a><!-- author -->
                                        </p>
                                        <!--/ meta -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!-- Meta & button -->
                                    </section>
                                    <!--/ Content -->
                                </article>
                            </div>
                            <!--/ Blog post #4 -->

                            <!-- Blog post #5 -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 post">
                                <article class="panel overflow-hidden">
                                    <!-- Iframe container -->
                                    <div class="iframe-container">
                                        <iframe src="//player.vimeo.com/video/7449107" webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder="0"></iframe>
                                    </div>
                                    <!--/ Iframe container -->

                                    <!-- Content -->
                                    <section class="panel-body">
                                        <!-- heading -->
                                        <h4 class="thin mt0 ellipsis"><a href="javascript:void(0);" class="text-default">Tempus eu, ligula. Aenean euismod mauris eu elit. Nulla facilisi.</a></h4>
                                        <!--/ heading -->

                                        <!-- text -->
                                        <div class="text-default">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat&#8230;</p>
                                        </div>
                                        <!--/ text -->

                                        <!-- Meta & button -->
                                        <!-- meta -->
                                        <p class="meta mb15">
                                            <a href="javascript:void(0);">Oct 23, 2014</a><!-- date -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Latest news</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Mollie Beck</a><!-- author -->
                                        </p>
                                        <!--/ meta -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!-- Meta & button -->
                                    </section>
                                    <!--/ Content -->
                                </article>
                            </div>
                            <!--/ Blog post #5 -->

                            <!-- Blog post #6 -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 post">
                                <article class="panel overflow-hidden">
                                    <!-- Thumbnail -->
                                    <header class="thumbnail">
                                        <!-- media -->
                                        <div class="media">
                                            <!-- indicator -->
                                            <div class="indicator"><span class="spinner"></span></div>
                                            <!--/ indicator -->
                                            <!-- toolbar overlay -->
                                            <div class="overlay">
                                                <div class="toolbar">
                                                    <a href="javascript:void(0);" class="btn btn-danger"><i class="ico-heart6"></i></a>
                                                </div>
                                            </div>
                                            <!--/ toolbar overlay -->
                                            <img data-toggle="unveil" src="{{ site.assets }}image/background/blog/placeholder.jpg" data-src="{{ site.assets }}image/background/blog/blog5.jpg" alt="Photo" height="230px">
                                        </div>
                                        <!--/ media -->
                                    </header>
                                    <!--/ Thumbnail -->

                                    <!-- Content -->
                                    <section class="panel-body">
                                        <!-- heading -->
                                        <h4 class="thin mt0 ellipsis"><a href="javascript:void(0);" class="text-default">Vivamus nibh dolor, nonummy ac, feugiat non, lobortis quis, pede.</a></h4>
                                        <!--/ heading -->

                                        <!-- text -->
                                        <div class="text-default">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat&#8230;</p>
                                        </div>
                                        <!--/ text -->

                                        <!-- Meta & button -->
                                        <!-- meta -->
                                        <p class="meta mb15">
                                            <a href="javascript:void(0);">Jul 15, 2013</a><!-- date -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">In </span><a href="javascript:void(0);">Nature</a><!-- category -->
                                            <span class="text-muted mr5 ml5">&#8226;</span>
                                            <span class="text-muted">By </span><a href="javascript:void(0);">Glenna Espinoza</a><!-- author -->
                                        </p>
                                        <!--/ meta -->
                                        <a href="javascript:void(0);" class="btn btn-success">Read more&#8230;</a>
                                        <!-- Meta & button -->
                                    </section>
                                    <!--/ Content -->
                                </article>
                            </div>
                            <!--/ Blog post #6 -->
                        </div>

                        <hr><!-- horizontal line -->

                        <!-- pager -->
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="pager mt0">
                                    <li class="previous"><a href="javascript:void(0);"><i class="ico-angle-left mr5"></i> Older</a></li>
                                    <li class="next"><a href="javascript:void(0);">Newer <i class="ico-angle-right ml5"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <!--/ pager -->
                    </div>
                    <!--/ END left / top side -->

                    <!-- START right / bottom side -->
                    <div class="col-lg-3">
                        {% include pages/blog/sidebar.html %}
                    </div>
                    <!--/ END right / bottom side -->
                </div>
                <!--/ END Row -->
            </div>
            <!--/ END Template Container -->