---
layout: default
category: page
menu: people-directory-v1
submenu: 
pluginscss: []
pluginsjs: [
    "plugins/shuffle/js/jquery.shuffle.js"
]
pagejs: [
    "javascript/backend/pages/people-v1.js"
]
---

<!-- START Template Container -->
            <div class="container-fluid">
                <!-- Page Header -->
                <div class="page-header page-header-block">
                    <div class="page-header-section">
                        <h4 class="title semibold">People directory v1</h4>
                    </div>
                    <div class="page-header-section">
                        <div class="toolbar">
                            <div class="col-md-6 col-md-offset-6">
                                <div class="has-icon">
                                    <input type="search" class="form-control" name="shuffle-filter" id="shuffle-filter" placeholder="Search people by name">
                                    <i class="ico-search form-control-icon"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Page Header -->

                <!-- START Row -->
                <div class="row" id="shuffle-grid">
                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Violet Kidd</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> libero.Integer@turpis.org</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Bahamas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Morgan Cohen</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> urna@Suspendisseseddolor.com</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Austria</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar1.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Keely Glenn</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> metus@vitaeorci.com</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Japan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Fulton Rojas</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> diam@Pellentesquehabitant.com</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Eritrea</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar2.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Linus Leonard</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> ante@nullaInteger.co.uk</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Singapore</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar3.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Orson Pierc</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> odio@mollis.net</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Syria</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar4.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Dane Gonzalez</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> lacus@imperdietnecleo.com</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> American Samoa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Maggie Vazquez</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> vestibulum@inlobortistellus.co.uk</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Libya</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar5.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Ina Odom</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> pede.nec@eget.org</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Bouvet Island</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar6.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Bell Richmond</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> accumsan@vitaeposuereat.org</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Puerto Rico</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Chaney Woodard</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> commodo@piscing.edu</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Ireland</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Warren Snyder</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> fringilla.est@ut.net</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Mauritania</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar7.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Austin Hartman</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> Donec.at@nisiAenean.edu</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Nepal</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar8.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Violet Kidd</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> libero.Integer@turpis.org</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Bahamas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Matthew William</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> sapien.Aenean@non.ne</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Nigeria</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar9.jpg" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Violet Kidd</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> libero.Integer@turpis.org</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Bahamas</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Tamara Moon</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> nulla@lobortisnisinibh.org</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Hong Kong</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Yardley Anthony</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> tincidunt@in.ca</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Bouvet Island</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 col-md-4 shuffle">
                        <div class="panel widget">
                            <div class="table-layout nm">
                                <div class="col-xs-4 text-center"><img src="{{ site.assets }}image/avatar/avatar.png" width="100%"></div>
                                <div class="col-xs-8 valign-middle">
                                    <div class="panel-body">
                                        <h5 class="semibold mt0 mb5"><a href="javascript:void(0);">Carly Porter</a></h5>
                                        <p class="ellipsis text-muted mb5"><i class="ico-envelop mr5"></i> fringilla@dolorelit.ca</p>
                                        <p class="text-muted nm"><i class="ico-location2 mr5"></i> Maldives</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ END Row -->
            </div>
            <!--/ END Template Container -->