<div class="container">
                    <!-- START Section Header -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="section-header text-center">
                                <h1 class="section-title font-alt mb25">Featured Portfolio</h1>
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <h4 class="thin text-muted text-center">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt.
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ END Section Header -->

                    <!-- carousel -->
                    <div class="owl-carousel" id="lovely-client">
                        <!-- portfolio #1 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio7.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Old Camera</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Old ,</a>
                                <a href="javascript:void(0);" class="text-muted">Retro</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #1 -->
                        <!-- portfolio #2 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio8.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Business Partnership</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Business ,</a>
                                <a href="javascript:void(0);" class="text-muted">People</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #2 -->
                        <!-- portfolio #3 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio9.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Sound Engineering</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Audio ,</a>
                                <a href="javascript:void(0);" class="text-muted">Technology</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #3 -->
                        <!-- portfolio #4 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio11.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Digital Marketing</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Marketing ,</a>
                                <a href="javascript:void(0);" class="text-muted">Illustration</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #4 -->
                        <!-- portfolio #5 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio12.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Time Is Money</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Time ,</a>
                                <a href="javascript:void(0);" class="text-muted">Valueable</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #5 -->
                        <!-- portfolio #6 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio13.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Old Factory</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Old ,</a>
                                <a href="javascript:void(0);" class="text-muted">Factory</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #6 -->
                        <!-- portfolio #7 -->
                        <div class="item text-center">
                            <!-- thumbnail -->
                            <div class="thumbnail nm">
                                <!-- media -->
                                <div class="media">
                                    <!-- indicator -->
                                    <div class="indicator"><span class="spinner"></span></div>
                                    <!--/ indicator -->
                                    <!-- toolbar overlay -->
                                    <div class="overlay">
                                        <div class="toolbar">
                                            <a href="#" class="btn btn-success"><i class="ico-new-tab"></i></a>
                                        </div>
                                    </div>
                                    <!--/ toolbar overlay -->
                                    <img data-toggle="unveil" src="{{ site.assets }}image/portfolio/placeholder.jpg" data-src="{{ site.assets }}image/portfolio/portfolio14.jpg" alt="Photo" width="100%" />
                                </div>
                                <!--/ media -->
                            </div>
                            <!--/ thumbnail -->
                            <!-- Meta -->
                            <h5 class="text-center mb5">Fresh Vegetables</h5>
                            <div class="text-center">
                                <i class="ico-tags text-muted"></i>
                                <a href="javascript:void(0);" class="text-muted">Food ,</a>
                                <a href="javascript:void(0);" class="text-muted">Yummy</a>
                            </div>
                            <!--/ Meta -->
                        </div>
                        <!--/ portfolio #7 -->
                    </div>
                    <!--/ carousel -->
                </div>