<!-- Form -->
                            <form class="mb25">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                            <!--/ Form -->

                            <!-- Address -->
                            <div class="pt25 mb25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Address</h4>
                                <!--/ Title -->
                                <address>
                                    <strong>Twitter, Inc.</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                    <abbr title="Phone">P:</abbr> (123) 456-7890
                                </address>
                                <address>
                                    <strong>Email</strong><br>
                                    <a href="mailto:#">first.last@example.com</a>
                                </address>
                            </div>
                            <!--/ Address -->

                            <!-- Business Hour -->
                            <div class="pt25 mb25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Business Hour</h4>
                                <!--/ Title -->
                                <ul class="list-unstyled">
                                    <li><strong>Monday-Friday:</strong> 10am to 8pm</li>
                                    <li><strong>Saturday:</strong> 11am to 3pm</li>
                                    <li><strong>Sunday:</strong> Closed</li>
                                </ul>
                            </div>
                            <!--/ Business Hour -->

                            <!-- Stay Connect -->
                            <div class="pt25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Stay Connect</h4>
                                <!--/ Title -->
                                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Facebook"><i class="ico-facebook2"></i></a>
                                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Twitter"><i class="ico-twitter2"></i></a>
                                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Vimeo"><i class="ico-vimeo"></i></a>
                                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Flickr"><i class="ico-flickr2"></i></a>
                                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Google+"><i class="ico-google-plus2"></i></a>
                                <a href="javascript:void(0);" class="text-muted mr15" data-toggle="tooltip" title="Instagram"><i class="ico-instagram2"></i></a>
                            </div>
                            <!--/ Stay Connect -->