<!-- Category -->
                            <div class="pt25 mb25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Category</h4>
                                <!--/ Title -->
                                <ul class="list-unstyled">
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">New In</a></li>
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">Shoes</a></li>
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">Clothing</a></li>
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">Accessories</a></li>
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">Bags</a></li>
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">Sports</a></li>
                                    <li class="mb5"><i class="ico-angle-right text-muted mr5"></i> <a href="javascript:void(0);">Groming</a></li>
                                </ul>
                            </div>
                            <!--/ Category -->

                            <!-- Price Range -->
                            <div class="pt25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Price Range</h4>
                                <!--/ Title -->
                                <p class="text-muted mb20">Filter items base on price range</p>
                                <div id="price-range-slider" class="slider-primary mb20"></div>
                                <form id="price-range-form">
                                    <div class="table-layout mb0">
                                        <div class="col-xs-5"><input type="number" class="form-control" name="price-start" value="0"></div>
                                        <div class="col-xs-2 text-center">To</div>
                                        <div class="col-xs-5"><input type="number" class="form-control" name="price-end" value="200"></div>
                                    </div>
                                </form>
                            </div>
                            <!--/ Price Range -->

                            <!-- Size -->
                            <div class="pt25 mb25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Size</h4>
                                <!--/ Title -->
                                <div class="btn-tag">
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">XS</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">S</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">M</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">L</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">XL</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">XXL</a>
                                    <a href="javascript:void(0);" class="btn btn-default btn-sm">XXXL</a>
                                </div>
                            </div>
                            <!--/ Size -->

                            <!-- Colors -->
                            <div class="pt25 mb25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Colors</h4>
                                <!--/ Title -->
                                <a href="#" style="color:#2ecc71;"><i class="ico-circle22 fsize24"></i></a>
                                <a href="#" style="color:#3498db;"><i class="ico-circle22 fsize24"></i></a>
                                <a href="#" style="color:#9b59b6;"><i class="ico-circle22 fsize24"></i></a>
                                <a href="#" style="color:#34495e;"><i class="ico-circle22 fsize24"></i></a>
                                <a href="#" style="color:#f1c40f;"><i class="ico-circle22 fsize24"></i></a>
                                <a href="#" style="color:#e74c3c;"><i class="ico-circle22 fsize24"></i></a>
                                <a href="#" style="color:#e67e22;"><i class="ico-circle22 fsize24"></i></a>
                            </div>
                            <!--/ Colors -->

                            <!-- Delivery -->
                            <div class="pt25">
                                <!-- Title -->
                                <h4 class="section-title font-alt mt0">Delivery Options</h4>
                                <!--/ Title -->
                                <p class="radio custom-radio custom-radio-primary mb10">  
                                    <input type="radio" name="delivery" id="customradio1" value="option1">  
                                    <label for="customradio1">&nbsp;&nbsp;Free delivery</label>   
                                </p>
                                <p class="radio custom-radio custom-radio-primary mb10">  
                                    <input type="radio" name="delivery" id="customradio2" value="option1">  
                                    <label for="customradio2">&nbsp;&nbsp;Paid delivery</label>   
                                </p>
                                <p class="radio custom-radio custom-radio-primary mb10">  
                                    <input type="radio" name="delivery" id="customradio3" value="option1">  
                                    <label for="customradio3">&nbsp;&nbsp;Pickup by yourself</label>   
                                </p>
                            </div>
                            <!--/ Delivery -->