<div class="collapse navbar-collapse navbar-collapse-alt" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown {% if page.category == 'home' %}active{% endif %}">
                                <a href="#" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                                    <span class="meta">
                                        <span class="text">HOME</span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-alt">
                                    <li><a href="index.html">Layer Slider</a></li>
                                    <li><a href="index2.html">Parallax Background</a></li>
                                </ul>
                            </li>
                            <li class="dropdown {% if page.category == 'pages' %}active{% endif %}">
                                <a href="#" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                                    <span class="meta">
                                        <span class="text">PAGES</span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-alt">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact Us</a></li>
                                    <li><a href="page-left-sidebar.html">Left Sidebar</a></li>
                                    <li><a href="page-right-sidebar.html">Right Sidebar</a></li>
                                    <li><a href="page-account-register.html">Account Register</a></li>
                                    <li><a href="page-login.html">Login</a></li>
                                </ul>
                            </li>
                            <li class="dropdown {% if page.category == 'blog' %}active{% endif %}">
                                <a href="#" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                                    <span class="meta">
                                        <span class="text">BLOG</span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-alt">
                                    <li><a href="blog-large.html">Large</a></li>
                                    <li><a href="blog-medium.html">Medium</a></li>
                                    <li><a href="blog-single.html">Single</a></li>
                                    <li><a href="blog-left-sidebar.html">Left sidebar</a></li>
                                    <li><a href="blog-right-sidebar.html">Right sidebar</a></li>
                                    <li><a href="blog-masonry.html">Masonry</a></li>
                                </ul>
                            </li>
                            <li class="dropdown {% if page.category == 'portfolio' %}active{% endif %}">
                                <a href="#" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                                    <span class="meta">
                                        <span class="text">PORTFOLIO</span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-alt">
                                    <li><a href="portfolio-2-columns.html">2 Columns</a></li>
                                    <li><a href="portfolio-3-columns.html">3 Columns</a></li>
                                    <li><a href="portfolio-4-columns.html">4 Columns</a></li>
                                    <li><a href="portfolio-single.html">Single</a></li>
                                </ul>
                            </li>
                            <li class="dropdown {% if page.category == 'shop' %}active{% endif %}">
                                <a href="#" class="dropdown-toggle dropdown-hover" data-toggle="dropdown">
                                    <span class="meta">
                                        <span class="text">SHOP</span>
                                        <span class="caret"></span>
                                    </span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-alt">
                                    <li><a href="shop.html">Default</a></li>
                                    <li><a href="shop-item-detail.html">Item detail</a></li>
                                    <li><a href="shop-left-sidebar.html">Left sidebar</a></li>
                                    <li><a href="shop-right-sidebar.html">Right sidebar</a></li>
                                    <li><a href="shop-shopping-cart.html">Shopping cart</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>